.wrapper {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #39414B;
  padding: 12px;
  height: 42px;
  background: transparent;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &Active {
    background: #5FBF77;
    color: #fff;
  }


}