.wrapper {
  display: flex;
  flex-direction: column;
  flex: calc((100% - 36px) / 3);
  max-width: calc((100% - 36px) / 3);
  height: 210px;
  min-height: 210px;
  background: #FFFFFF;
  box-shadow: 0px 10px 13px -4px rgba(35, 35, 95, 0.19);
  border-radius: 18px;
  position: relative;
  overflow: hidden;

  @media (max-width: 992px) {
    flex: calc((100% - 18px) / 2);
    max-width: calc((100% - 18px) / 2);
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 162px;
  background-color: var(--bg-color);

  &Inner {
    width: 144px;
    height: 144px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.title {
  padding: 12px 18px 18px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #39414B;

}