body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  padding: 24px;
  gap: 24px;
  background: #FFFFFF;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: content-box;
  padding: 12px;
  width: 264px;
  min-width: 264px;
  height: fit-content;
  border: 1px solid #CFCFE4;
  border-radius: 18px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  grid-gap: 18px;
}